 * {
            margin: 0px;
            padding: 0px;
        }

        body {
            background-color: rgb(101, 253, 218);
            color: rgb(5, 63, 6);
            font-family: 'Poppins', sans-serif;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: rgb(26, 227, 160);
            font-size: 20px;
            height: 55px;
            padding-top: 17px;
            padding-bottom: 17px;
        }

        nav ul {
            display: flex;
            justify-content: space-around;


        }

        nav ul li {
            list-style: none;
            margin: 0 23px;



        }

        .left {
            font-size: 40px;

        }

        .firstsection {
            display: flex;
            justify-content: space-around;
            margin: 20px 0;
        }

        .firstsection>div {
            width: 30%;

        }

        .leftsection {
            margin: 60px 0;
            padding: 25px 0;
            font-size: 2rem;

        }



        .rightsection img {
            width: 105%;
            margin-top: 25px;
            padding-top: 15px;
            padding-left: 15px;
            padding-right: 20px;
        }

        .green {
            color: rgb(7, 190, 7);
        }

        nav ul li a {
            text-decoration: none;
            color: rgb(5, 63, 6);
        }

        nav ul li a:hover {
            font-size: 1.4rem;
            color: blue;

        }

        #element {
            color: rgb(7, 190, 7);
        }

        .secondsection {
            max-width: 80vw;
            margin: auto;
            height: 80vh;


        }

        .secondsection h1 {
            font-size: 1.9rem;
        }

        main hr {
            border: 0;
            background-color: rgb(7, 190, 7);
            height: 2px;
            margin: 30px 90px;
        }

        .secondsection .box {
            height: 2px;
            width: 80vw;
            background-color: rgb(7, 190, 7);
            margin: 70px 0px;
            display: flex;
        }

        .secondsection .vertical {
            background-color: rgb(7, 190, 7);
            height: 93px;
            width: 1.4px;
            margin: 0px 100px;



        }

        .image-top {
            width: 32px;
            position: relative;
            top: -39px;
            left: -19px;
        }

        .vertical-text {
            width: 180px;
            position: relative;
            top: 58px;
            left: -46px;
        }


        .vertical-desk {
            position: relative;
            top: 75px;
            color: rgb(7, 190, 7);
            font-size: 9px;
            width: 140px;
            left: -46px;
        }

        .image-top-youtube {
            width: 75px;
            position: relative;
            top: -59px;
            left: -35px;
        }

        .image-top-twitter {
            width: 55px;
            position: relative;
            top: -45px;
            left: -29px;
        }

        .vertical-text-youtube {
            width: 180px;
            position: relative;
            top: 15px;
            left: -46px;
        }

        .vertical-desk-youtube {
            position: relative;
            top: 28px;
            color: rgb(7, 190, 7);
            font-size: 9px;
            width: 140px;
            left: -46px;
        }

        .vertical-text-facebook {
            width: 200px;
            position: relative;
            top: 58px;
            left: -46px;
        }

        .vertical-desk-facebook {
            position: relative;
            top: 75px;
            color: rgb(7, 190, 7);
            font-size: 9px;
            width: 140px;
            left: -46px;
        }

        .vertical-text-instagram {
            width: 200px;
            position: relative;
            top: 58px;
            left: -66px;
        }

        .vertical-desk-instagram {
            position: relative;
            top: 75px;
            color: rgb(7, 190, 7);
            font-size: 9px;
            width: 150px;
            left: -66px;
        }

        .vertical-text-twitter {
            width: 200px;
            position: relative;
            top: 50px;
            left: -56px;
        }

        .vertical-desk-twitter {
            position: relative;
            top: 65px;
            color: rgb(7, 190, 7);
            font-size: 9px;
            width: 150px;
            left: -56px;
        }

        footer {
            background-color: rgb(26, 227, 160);
            height: 250px;
            padding: 50px 122px;

        }

        .footer {
            display: flex;
            justify-content: space-evenly;
        }

        .footer ul {
            list-style: none;
        }

        .footer>div {
            width: 200px;
        }

        .footer-right {
            text-align: center;
            width: 500px;
            padding: 70px 290px;
            color: rgb(7, 190, 7);
        }

        .button .btn {
            text-decoration: none;
            padding: 10px;
            margin: 2px 4px;
            background-color: rgb(26, 227, 160);
            border: 2px solid rgb(7, 190, 7);
            border-radius: 5px;
            cursor: pointer;


        }

        .button .btn a:hover {
            padding: -10px;
            color: blue;
            font-size: 0.905rem;
        }
